<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="user" class="com.guya2.User" scope="singleton">
        <node name="name" value="张"></node>
    </bean>

    <aop:aspectj-autoproxy></aop:aspectj-autoproxy><!-- 这句必不可少,否则AspectTest1就失效了 -->

    <bean class="com.guya2.AspectTest1"></bean>
    <bean id="aspectTest2" class="com.guya2.AspectTest2"></bean> <!-- 只有要引用这个bean的时候，才需要加id -->
    <aop:config>
        <aop:aspect ref="aspectTest2">
            <aop:pointcut
                    id="heihei"
                    expression="execution(* *.heihei(..))" />
            <aop:before
                    pointcut-ref="heihei"
                    method="beforeHeihei" />
            <aop:after
                    pointcut-ref="heihei"
                    method="afterHeihei" />
            <aop:before
                    pointcut="execution(* *.hehe(..))"
                    method="beforeHehe" />
            <aop:after
                    pointcut="execution(* *.hehe(..))"
                    method="afterHehe" />
        </aop:aspect>
    </aop:config>
</beans>